In [1]:
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import numpy as np

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('./'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

./index.md
./module-p8-2.ipynb
./forecast.txt
./module-p8.ipynb
./data/stores.csv
./data/oil.csv
./data/transactions.csv
./data/holidays_events.csv
./data/train.csv
./data/train_filled.csv
./data/test.csv
./data/sample_submission.csv

In [3]:
#!pip install "gluonts[mxnet,pro]"

## EDA

In [4]:
from datetime import datetime

df_train = pd.read_csv('./data/train.csv')
df_test = pd.read_csv('./data/test.csv')
df_test.date.min()
df_test.date.max()
min = datetime.strptime(df_test.date.min(), '%Y-%M-%d')
max = datetime.strptime(df_test.date.max(), '%Y-%M-%d')
prediction_length = (max - min).days

'2017-08-16'

'2017-08-31'

In [5]:
df_train
df_train.shape
df_train.date.min()
df_train.date.max()

,id,date,store_nbr,family,sales,onpromotion
0,0,2013-01-01,1,AUTOMOTIVE,0.000,0
1,1,2013-01-01,1,BABY CARE,0.000,0
2,2,2013-01-01,1,BEAUTY,0.000,0
3,3,2013-01-01,1,BEVERAGES,0.000,0
4,4,2013-01-01,1,BOOKS,0.000,0
...,...,...,...,...,...,...
3000883,3000883,2017-08-15,9,POULTRY,438.133,0
3000884,3000884,2017-08-15,9,PREPARED FOODS,154.553,1
3000885,3000885,2017-08-15,9,PRODUCE,2419.729,148
3000886,3000886,2017-08-15,9,SCHOOL AND OFFICE SUPPLIES,121.000,8
3000887,3000887,2017-08-15,9,SEAFOOD,16.000,0

(3000888, 6)

'2013-01-01'

'2017-08-15'

dataset starts from 2013-01-01 to 2017-08-15

predictions must be made from 2017-08-16 to 2017-08-31

In [6]:
df_train.dtypes

id               int64
date            object
store_nbr        int64
family          object
sales          float64
onpromotion      int64
dtype: object

Do we have continuous dates ?

no : 25 december is missing for all

In [7]:
df_train.groupby(by=['date']).count()

df_train[df_train['date'] == '2013-12-24']
df_train[df_train['date'] == '2013-12-25']

              id  store_nbr  family  sales  onpromotion
date
2013-01-01  1782       1782    1782   1782         1782
2013-01-02  1782       1782    1782   1782         1782
2013-01-03  1782       1782    1782   1782         1782
2013-01-04  1782       1782    1782   1782         1782
2013-01-05  1782       1782    1782   1782         1782
...          ...        ...     ...    ...          ...
2017-08-11  1782       1782    1782   1782         1782
2017-08-12  1782       1782    1782   1782         1782
2017-08-13  1782       1782    1782   1782         1782
2017-08-14  1782       1782    1782   1782         1782
2017-08-15  1782       1782    1782   1782         1782

[1684 rows x 5 columns]

,id,date,store_nbr,family,sales,onpromotion
636174,636174,2013-12-24,1,AUTOMOTIVE,1.000,0
636175,636175,2013-12-24,1,BABY CARE,0.000,0
636176,636176,2013-12-24,1,BEAUTY,2.000,0
636177,636177,2013-12-24,1,BEVERAGES,1248.000,0
636178,636178,2013-12-24,1,BOOKS,0.000,0
...,...,...,...,...,...,...
637951,637951,2013-12-24,9,POULTRY,848.844,0
637952,637952,2013-12-24,9,PREPARED FOODS,40.000,0
637953,637953,2013-12-24,9,PRODUCE,0.000,0
637954,637954,2013-12-24,9,SCHOOL AND OFFICE SUPPLIES,0.000,0
637955,637955,2013-12-24,9,SEAFOOD,9.000,0

Empty DataFrame
Columns: [id, date, store_nbr, family, sales, onpromotion]
Index: []

In [8]:
# add missing dates to train dataset : required for fitting the model

un_store = df_train['store_nbr'].unique()
un_family = df_train['family'].unique()

tmp_df = pd.DataFrame(
    columns=['id', 'date', 'store_nbr', 'family', 'sales', 'onpromotion'],
    )

for i, s in enumerate(un_store):
    for j, f in enumerate(un_family):
        tmp_df = tmp_df.append(
            pd.DataFrame(
                {'id': 0, 'date': '2013-12-25', 'store_nbr': s, 'family': f, 'sales': 0, 'onpromotion' : 0},
                index=[0]),
            ignore_index=True,
        )
        tmp_df = tmp_df.append(
            pd.DataFrame(
                {'id': 0, 'date': '2014-12-25', 'store_nbr': s, 'family': f, 'sales': 0, 'onpromotion' : 0},
                index=[0]),
            ignore_index=True
        )
        tmp_df = tmp_df.append(
            pd.DataFrame(
                {'id': 0, 'date': '2015-12-25', 'store_nbr': s, 'family': f, 'sales': 0, 'onpromotion' : 0},
                index=[0]),
            ignore_index=True
        )
        tmp_df = tmp_df.append(
            pd.DataFrame(
                {'id': 0, 'date': '2016-12-25', 'store_nbr': s, 'family': f, 'sales': 0, 'onpromotion' : 0},
                index=[0]),
            ignore_index=True
        )

print(tmp_df)
df_train = df_train.append(tmp_df)
df_train.to_csv('data/train_filled.csv')

     id        date store_nbr                      family sales onpromotion
0     0  2013-12-25         1                  AUTOMOTIVE     0           0
1     0  2014-12-25         1                  AUTOMOTIVE     0           0
2     0  2015-12-25         1                  AUTOMOTIVE     0           0
3     0  2016-12-25         1                  AUTOMOTIVE     0           0
4     0  2013-12-25         1                   BABY CARE     0           0
...  ..         ...       ...                         ...   ...         ...
7123  0  2016-12-25         9  SCHOOL AND OFFICE SUPPLIES     0           0
7124  0  2013-12-25         9                     SEAFOOD     0           0
7125  0  2014-12-25         9                     SEAFOOD     0           0
7126  0  2015-12-25         9                     SEAFOOD     0           0
7127  0  2016-12-25         9                     SEAFOOD     0           0

[7128 rows x 6 columns]

In [9]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df_train['family_cat'] = le.fit_transform(df_train['family'])
le.classes_

array(['AUTOMOTIVE', 'BABY CARE', 'BEAUTY', 'BEVERAGES', 'BOOKS',
       'BREAD/BAKERY', 'CELEBRATION', 'CLEANING', 'DAIRY', 'DELI', 'EGGS',
       'FROZEN FOODS', 'GROCERY I', 'GROCERY II', 'HARDWARE',
       'HOME AND KITCHEN I', 'HOME AND KITCHEN II', 'HOME APPLIANCES',
       'HOME CARE', 'LADIESWEAR', 'LAWN AND GARDEN', 'LINGERIE',
       'LIQUOR WINE BEER', 'MAGAZINES', 'MEATS', 'PERSONAL CARE',
       'PET SUPPLIES', 'PLAYERS AND ELECTRONICS', 'POULTRY',
       'PREPARED FOODS', 'PRODUCE', 'SCHOOL AND OFFICE SUPPLIES',
       'SEAFOOD'], dtype=object)

In [10]:
nb_stores = df_train['store_nbr'].unique()
nb_stores

array([1, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 20, 21, 22, 23, 24,
       25, 26, 27, 28, 29, 3, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 4,
       40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 5, 50, 51, 52, 53, 54, 6,
       7, 8, 9], dtype=object)

In [11]:
df_test['family_cat'] = le.fit_transform(df_test['family'])
df_test

,id,date,store_nbr,family,onpromotion,family_cat
0,3000888,2017-08-16,1,AUTOMOTIVE,0,0
1,3000889,2017-08-16,1,BABY CARE,0,1
2,3000890,2017-08-16,1,BEAUTY,2,2
3,3000891,2017-08-16,1,BEVERAGES,20,3
4,3000892,2017-08-16,1,BOOKS,0,4
...,...,...,...,...,...,...
28507,3029395,2017-08-31,9,POULTRY,1,28
28508,3029396,2017-08-31,9,PREPARED FOODS,0,29
28509,3029397,2017-08-31,9,PRODUCE,1,30
28510,3029398,2017-08-31,9,SCHOOL AND OFFICE SUPPLIES,9,31
28511,3029399,2017-08-31,9,SEAFOOD,0,32

In [12]:
df_train.set_index('date', inplace=True)
df_train.sort_index(inplace=True)

In [13]:
df_test.set_index('date', inplace=True)
df_test

,id,store_nbr,family,onpromotion,family_cat
date,,,,,
2017-08-16,3000888,1,AUTOMOTIVE,0,0
2017-08-16,3000889,1,BABY CARE,0,1
2017-08-16,3000890,1,BEAUTY,2,2
2017-08-16,3000891,1,BEVERAGES,20,3
2017-08-16,3000892,1,BOOKS,0,4
...,...,...,...,...,...
2017-08-31,3029395,9,POULTRY,1,28
2017-08-31,3029396,9,PREPARED FOODS,0,29
2017-08-31,3029397,9,PRODUCE,1,30
2017-08-31,3029398,9,SCHOOL AND OFFICE SUPPLIES,9,31
2017-08-31,3029399,9,SEAFOOD,0,32

In [14]:
df_test['sales'] = 0

In [15]:
df_train.loc['2013-12-25']

           id store_nbr          family sales onpromotion  family_cat
date
2013-12-25  0        41  PREPARED FOODS     0           0          29
2013-12-25  0        42           BOOKS     0           0           4
2013-12-25  0        42       BEVERAGES     0           0           3
2013-12-25  0        42          BEAUTY     0           0           2
2013-12-25  0        42       BABY CARE     0           0           1
...        ..       ...             ...   ...         ...         ...
2013-12-25  0        25    PET SUPPLIES     0           0          26
2013-12-25  0        25   PERSONAL CARE     0           0          25
2013-12-25  0        26       BEVERAGES     0           0           3
2013-12-25  0         9         SEAFOOD     0           0          32
2013-12-25  0         1      AUTOMOTIVE     0           0           0

[1782 rows x 6 columns]

In [16]:
# df_train

In [17]:
# df_test

In [18]:
df_test.groupby(by=['store_nbr', 'family']).count()

                                      id  onpromotion  family_cat  sales
store_nbr family
1         AUTOMOTIVE                  16           16          16     16
          BABY CARE                   16           16          16     16
          BEAUTY                      16           16          16     16
          BEVERAGES                   16           16          16     16
          BOOKS                       16           16          16     16
...                                   ..          ...         ...    ...
54        POULTRY                     16           16          16     16
          PREPARED FOODS              16           16          16     16
          PRODUCE                     16           16          16     16
          SCHOOL AND OFFICE SUPPLIES  16           16          16     16
          SEAFOOD                     16           16          16     16

[1782 rows x 4 columns]

The prediction length is for 16 days

## GluonTS

In [19]:
from gluonts.dataset.common import ListDataset
from gluonts.model.lstnet import LSTNetEstimator
from gluonts.model.deepar import DeepAREstimator
from gluonts.dataset.pandas import PandasDataset


from gluonts.mx import Trainer

freq = "D"
# start = pd.Period("2013-01-01", freq=freq)
# prediction_length = 200 # predict this many points
context_length = 2000 # train on this number of points
prediction_length = 16 # see prediction lenght infered above

#### Dataset Preparation

In [20]:
# df_train['dataset'] = 'train'
# df_test['dataset'] = 'test'
# df_all = pd.concat([df_train, df_test])
# df_all

In [21]:

df = df_train [['store_nbr', 'family', 'sales', 'id']]
df = df [df['store_nbr'] == 1]
df = df.astype({'store_nbr': 'string', 'family':'string', 'sales': 'int'})
df.dtypes
df

store_nbr    string
family       string
sales         int64
id           object
dtype: object

           store_nbr                      family  sales       id
date
2013-01-01         1                  AUTOMOTIVE      0        0
2013-01-01         1                   MAGAZINES      0       23
2013-01-01         1            LIQUOR WINE BEER      0       22
2013-01-01         1                    LINGERIE      0       21
2013-01-01         1             LAWN AND GARDEN      0       20
...              ...                         ...    ...      ...
2017-08-15         1                     SEAFOOD     22  2999138
2017-08-15         1  SCHOOL AND OFFICE SUPPLIES      0  2999137
2017-08-15         1                     PRODUCE   2240  2999136
2017-08-15         1              PREPARED FOODS     42  2999135
2017-08-15         1                   BABY CARE      0  2999107

[55704 rows x 4 columns]

In [22]:
np.unique(df['family']).size

33

In [23]:

ds = PandasDataset.from_long_dataframe(df, freq='d', target='sales', item_id=['family'])
# ds_train = PandasDataset.from_long_dataframe(df[:-prediction_length], freq='d', target='sales', item_id=['family'])
# ds_test = PandasDataset.from_long_dataframe(df.tail(prediction_length), freq='d', target='sales', item_id=['family'])

In [24]:
# ds_train

In [25]:
# ds_test

In [21]:
# do the same dataset preparation for all the 'nb_stores' stores

all_stores_ds = []

for store in nb_stores:
    df_tmp = df_train [['store_nbr', 'family', 'sales', 'id']]
    df_tmp = df_tmp [df_tmp['store_nbr'] == store]
    df_tmp = df_tmp.astype({'store_nbr': 'string', 'family':'string', 'sales': 'int'})
    ds_tmp = PandasDataset.from_long_dataframe(df_tmp, freq='d', target='sales', item_id='family')
    all_stores_ds.append({'store_nbr': store, 'ds': ds_tmp})

# all_stores_ds

In [22]:
all_stores_ds[0]['store_nbr']
all_stores_ds[0]['ds']

1

PandasDataset(dataframes={'AUTOMOTIVE':            store_nbr      family  sales       id
date
2013-01-01         1  AUTOMOTIVE      0        0
2013-01-02         1  AUTOMOTIVE      2     1782
2013-01-03         1  AUTOMOTIVE      3     3564
2013-01-04         1  AUTOMOTIVE      3     5346
2013-01-05         1  AUTOMOTIVE      5     7128
...              ...         ...    ...      ...
2017-08-11         1  AUTOMOTIVE      1  2991978
2017-08-12         1  AUTOMOTIVE      6  2993760
2017-08-13         1  AUTOMOTIVE      1  2995542
2017-08-14         1  AUTOMOTIVE      1  2997324
2017-08-15         1  AUTOMOTIVE      4  2999106

[1688 rows x 4 columns], 'BABY CARE':            store_nbr     family  sales       id
date
2013-01-01         1  BABY CARE      0        1
2013-01-02         1  BABY CARE      0     1783
2013-01-03         1  BABY CARE      0     3565
2013-01-04         1  BABY CARE      0     5347
2013-01-05         1  BABY CARE      0     7129
...              ...        ...    ...      ...
2017-08-11         1  BABY CARE      0  2991979
2017-08-12         1  BABY CARE      0  2993761
2017-08-13         1  BABY CARE      0  2995543
2017-08-14         1  BABY CARE      0  2997325
2017-08-15         1  BABY CARE      0  2999107

[1688 rows x 4 columns], 'BEAUTY':            store_nbr  family  sales       id
date
2013-01-01         1  BEAUTY      0        2
2013-01-02         1  BEAUTY      2     1784
2013-01-03         1  BEAUTY      0     3566
2013-01-04         1  BEAUTY      3     5348
2013-01-05         1  BEAUTY      3     7130
...              ...     ...    ...      ...
2017-08-11         1  BEAUTY      1  2991980
2017-08-12         1  BEAUTY      3  2993762
2017-08-13         1  BEAUTY      1  2995544
2017-08-14         1  BEAUTY      6  2997326
2017-08-15         1  BEAUTY      4  2999108

[1688 rows x 4 columns], 'BEVERAGES':            store_nbr     family  sales       id
date
2013-01-01         1  BEVERAGES      0        3
2013-01-02         1  BEVERAGES   1091     1785
2013-01-03         1  BEVERAGES    919     3567
2013-01-04         1  BEVERAGES    953     5349
2013-01-05         1  BEVERAGES   1160     7131
...              ...        ...    ...      ...
2017-08-11         1  BEVERAGES   1006  2991981
2017-08-12         1  BEVERAGES   1659  2993763
2017-08-13         1  BEVERAGES    803  2995545
2017-08-14         1  BEVERAGES   2201  2997327
2017-08-15         1  BEVERAGES   1942  2999109

[1688 rows x 4 columns], 'BOOKS':            store_nbr family  sales       id
date
2013-01-01         1  BOOKS      0        4
2013-01-02         1  BOOKS      0     1786
2013-01-03         1  BOOKS      0     3568
2013-01-04         1  BOOKS      0     5350
2013-01-05         1  BOOKS      0     7132
...              ...    ...    ...      ...
2017-08-11         1  BOOKS      0  2991982
2017-08-12         1  BOOKS      0  2993764
2017-08-13         1  BOOKS      0  2995546
2017-08-14         1  BOOKS      0  2997328
2017-08-15         1  BOOKS      0  2999110

[1688 rows x 4 columns], 'BREAD/BAKERY':            store_nbr        family  sales       id
date
2013-01-01         1  BREAD/BAKERY      0        5
2013-01-02         1  BREAD/BAKERY    470     1787
2013-01-03         1  BREAD/BAKERY    310     3569
2013-01-04         1  BREAD/BAKERY    198     5351
2013-01-05         1  BREAD/BAKERY    301     7133
...              ...           ...    ...      ...
2017-08-11         1  BREAD/BAKERY    145  2991983
2017-08-12         1  BREAD/BAKERY    243  2993765
2017-08-13         1  BREAD/BAKERY    136  2995547
2017-08-14         1  BREAD/BAKERY    346  2997329
2017-08-15         1  BREAD/BAKERY    329  2999111

[1688 rows x 4 columns], 'CELEBRATION':            store_nbr       family  sales       id
date
2013-01-01         1  CELEBRATION      0        6
2013-01-02         1  CELEBRATION      0     1788
2013-01-03         1  CELEBRATION      0     3570
2013-01-04         1  CELEBRATION      0     5352
2013-01-05         1  CELEBRATION      0     7134
...              ...          ...    ...      ...
2017-08-11         1  CELEBRATION      4  2991984
2017-08-12         1  CELEBRATION      3  2993766
2017-08-13         1  CELEBRATION      1  2995548
2017-08-14         1  CELEBRATION      4  2997330
2017-08-15         1  CELEBRATION     21  2999112

[1688 rows x 4 columns], 'CLEANING':            store_nbr    family  sales       id
date
2013-01-01         1  CLEANING      0        7
2013-01-02         1  CLEANING   1060     1789
2013-01-03         1  CLEANING    836     3571
2013-01-04         1  CLEANING    827     5353
2013-01-05         1  CLEANING    811     7135
...              ...       ...    ...      ...
2017-08-11         1  CLEANING    341  2991985
2017-08-12         1  CLEANING    351  2993767
2017-08-13         1  CLEANING    169  2995549
2017-08-14         1  CLEANING    571  2997331
2017-08-15         1  CLEANING    703  2999113

[1688 rows x 4 columns], 'DAIRY':            store_nbr family  sales       id
date
2013-01-01         1  DAIRY      0        8
2013-01-02         1  DAIRY    579     1790
2013-01-03         1  DAIRY    453     3572
2013-01-04         1  DAIRY    460     5354
2013-01-05         1  DAIRY    464     7136
...              ...    ...    ...      ...
2017-08-11         1  DAIRY    343  2991986
2017-08-12         1  DAIRY    526  2993768
2017-08-13         1  DAIRY    266  2995550
2017-08-14         1  DAIRY    699  2997332
2017-08-15         1  DAIRY    602  2999114

[1688 rows x 4 columns], 'DELI':            store_nbr family  sales       id
date
2013-01-01         1   DELI      0        9
2013-01-02         1   DELI    164     1791
2013-01-03         1   DELI    151     3573
2013-01-04         1   DELI    131     5355
2013-01-05         1   DELI    118     7137
...              ...    ...    ...      ...
2017-08-11         1   DELI     64  2991987
2017-08-12         1   DELI     99  2993769
2017-08-13         1   DELI     47  2995551
2017-08-14         1   DELI    154  2997333
2017-08-15         1   DELI    116  2999115

[1688 rows x 4 columns], 'EGGS':            store_nbr family  sales       id
date
2013-01-01         1   EGGS      0       10
2013-01-02         1   EGGS    246     1792
2013-01-03         1   EGGS    203     3574
2013-01-04         1   EGGS    171     5356
2013-01-05         1   EGGS    177     7138
...              ...    ...    ...      ...
2017-08-11         1   EGGS     86  2991988
2017-08-12         1   EGGS    113  2993770
2017-08-13         1   EGGS     60  2995552
2017-08-14         1   EGGS    170  2997334
2017-08-15         1   EGGS    131  2999116

[1688 rows x 4 columns], 'FROZEN FOODS':            store_nbr        family  sales       id
date
2013-01-01         1  FROZEN FOODS      0       11
2013-01-02         1  FROZEN FOODS    131     1793
2013-01-03         1  FROZEN FOODS     87     3575
2013-01-04         1  FROZEN FOODS     65     5357
2013-01-05         1  FROZEN FOODS     70     7139
...              ...           ...    ...      ...
2017-08-11         1  FROZEN FOODS     61  2991989
2017-08-12         1  FROZEN FOODS    107  2993771
2017-08-13         1  FROZEN FOODS     50  2995553
2017-08-14         1  FROZEN FOODS    110  2997335
2017-08-15         1  FROZEN FOODS     89  2999117

[1688 rows x 4 columns], 'GROCERY I':            store_nbr     family  sales       id
date
2013-01-01         1  GROCERY I      0       12
2013-01-02         1  GROCERY I   2652     1794
2013-01-03         1  GROCERY I   2121     3576
2013-01-04         1  GROCERY I   2056     5358
2013-01-05         1  GROCERY I   2216     7140
...              ...        ...    ...      ...
2017-08-11         1  GROCERY I   1270  2991990
2017-08-12         1  GROCERY I   1630  2993772
2017-08-13         1  GROCERY I    952  2995554
2017-08-14         1  GROCERY I   2407  2997336
2017-08-15         1  GROCERY I   2508  2999118

[1688 rows x 4 columns], 'GROCERY II':            store_nbr      family  sales       id
date
2013-01-01         1  GROCERY II      0       13
2013-01-02         1  GROCERY II     31     1795
2013-01-03         1  GROCERY II     12     3577
2013-01-04         1  GROCERY II     15     5359
2013-01-05         1  GROCERY II     30     7141
...              ...         ...    ...      ...
2017-08-11         1  GROCERY II      9  2991991
2017-08-12         1  GROCERY II     19  2993773
2017-08-13         1  GROCERY II      6  2995555
2017-08-14         1  GROCERY II     20  2997337
2017-08-15         1  GROCERY II     13  2999119

[1688 rows x 4 columns], 'HARDWARE':            store_nbr    family  sales       id
date
2013-01-01         1  HARDWARE      0       14
2013-01-02         1  HARDWARE      3     1796
2013-01-03         1  HARDWARE      1     3578
2013-01-04         1  HARDWARE      7     5360
2013-01-05         1  HARDWARE      1     7142
...              ...       ...    ...      ...
2017-08-11         1  HARDWARE      1  2991992
2017-08-12         1  HARDWARE      0  2993774
2017-08-13         1  HARDWARE      1  2995556
2017-08-14         1  HARDWARE      0  2997338
2017-08-15         1  HARDWARE      3  2999120

[1688 rows x 4 columns], 'HOME AND KITCHEN I':            store_nbr              family  sales       id
date
2013-01-01         1  HOME AND KITCHEN I      0       15
2013-01-02         1  HOME AND KITCHEN I      0     1797
2013-01-03         1  HOME AND KITCHEN I      0     3579
2013-01-04         1  HOME AND KITCHEN I      0     5361
2013-01-05         1  HOME AND KITCHEN I      0     7143
...              ...                 ...    ...      ...
2017-08-11         1  HOME AND KITCHEN I     27  2991993
2017-08-12         1  HOME AND KITCHEN I     17  2993775
2017-08-13         1  HOME AND KITCHEN I     13  2995557
2017-08-14         1  HOME AND KITCHEN I     50  2997339
2017-08-15         1  HOME AND KITCHEN I     30  2999121

[1688 rows x 4 columns], 'HOME AND KITCHEN II':            store_nbr               family  sales       id
date
2013-01-01         1  HOME AND KITCHEN II      0       16
2013-01-02         1  HOME AND KITCHEN II      0     1798
2013-01-03         1  HOME AND KITCHEN II      0     3580
2013-01-04         1  HOME AND KITCHEN II      0     5362
2013-01-05         1  HOME AND KITCHEN II      0     7144
...              ...                  ...    ...      ...
2017-08-11         1  HOME AND KITCHEN II     14  2991994
2017-08-12         1  HOME AND KITCHEN II     31  2993776
2017-08-13         1  HOME AND KITCHEN II      8  2995558
2017-08-14         1  HOME AND KITCHEN II     31  2997340
2017-08-15         1  HOME AND KITCHEN II     33  2999122

[1688 rows x 4 columns], 'HOME APPLIANCES':            store_nbr           family  sales       id
date
2013-01-01         1  HOME APPLIANCES      0       17
2013-01-02         1  HOME APPLIANCES      0     1799
2013-01-03         1  HOME APPLIANCES      2     3581
2013-01-04         1  HOME APPLIANCES      0     5363
2013-01-05         1  HOME APPLIANCES      0     7145
...              ...              ...    ...      ...
2017-08-11         1  HOME APPLIANCES      0  2991995
2017-08-12         1  HOME APPLIANCES      0  2993777
2017-08-13         1  HOME APPLIANCES      0  2995559
2017-08-14         1  HOME APPLIANCES      0  2997341
2017-08-15         1  HOME APPLIANCES      0  2999123

[1688 rows x 4 columns], 'HOME CARE':            store_nbr     family  sales       id
date
2013-01-01         1  HOME CARE      0       18
2013-01-02         1  HOME CARE      0     1800
2013-01-03         1  HOME CARE      0     3582
2013-01-04         1  HOME CARE      0     5364
2013-01-05         1  HOME CARE      0     7146
...              ...        ...    ...      ...
2017-08-11         1  HOME CARE     74  2991996
2017-08-12         1  HOME CARE    116  2993778
2017-08-13         1  HOME CARE     61  2995560
2017-08-14         1  HOME CARE    161  2997342
2017-08-15         1  HOME CARE    156  2999124

[1688 rows x 4 columns], 'LADIESWEAR':            store_nbr      family  sales       id
date
2013-01-01         1  LADIESWEAR      0       19
2013-01-02         1  LADIESWEAR      0     1801
2013-01-03         1  LADIESWEAR      0     3583
2013-01-04         1  LADIESWEAR      0     5365
2013-01-05         1  LADIESWEAR      0     7147
...              ...         ...    ...      ...
2017-08-11         1  LADIESWEAR      3  2991997
2017-08-12         1  LADIESWEAR      9  2993779
2017-08-13         1  LADIESWEAR      7  2995561
2017-08-14         1  LADIESWEAR     17  2997343
2017-08-15         1  LADIESWEAR      9  2999125

[1688 rows x 4 columns], 'LAWN AND GARDEN':            store_nbr           family  sales       id
date
2013-01-01         1  LAWN AND GARDEN      0       20
2013-01-02         1  LAWN AND GARDEN     10     1802
2013-01-03         1  LAWN AND GARDEN      0     3584
2013-01-04         1  LAWN AND GARDEN      7     5366
2013-01-05         1  LAWN AND GARDEN     10     7148
...              ...              ...    ...      ...
2017-08-11         1  LAWN AND GARDEN     15  2991998
2017-08-12         1  LAWN AND GARDEN     10  2993780
2017-08-13         1  LAWN AND GARDEN      8  2995562
2017-08-14         1  LAWN AND GARDEN     27  2997344
2017-08-15         1  LAWN AND GARDEN     17  2999126

[1688 rows x 4 columns], 'LINGERIE':            store_nbr    family  sales       id
date
2013-01-01         1  LINGERIE      0       21
2013-01-02         1  LINGERIE     13     1803
2013-01-03         1  LINGERIE     15     3585
2013-01-04         1  LINGERIE     24     5367
2013-01-05         1  LINGERIE     20     7149
...              ...       ...    ...      ...
2017-08-11         1  LINGERIE      1  2991999
2017-08-12         1  LINGERIE      8  2993781
2017-08-13         1  LINGERIE      3  2995563
2017-08-14         1  LINGERIE     21  2997345
2017-08-15         1  LINGERIE      4  2999127

[1688 rows x 4 columns], 'LIQUOR WINE BEER':            store_nbr            family  sales       id
date
2013-01-01         1  LIQUOR WINE BEER      0       22
2013-01-02         1  LIQUOR WINE BEER     67     1804
2013-01-03         1  LIQUOR WINE BEER     66     3586
2013-01-04         1  LIQUOR WINE BEER    102     5368
2013-01-05         1  LIQUOR WINE BEER    159     7150
...              ...               ...    ...      ...
2017-08-11         1  LIQUOR WINE BEER     67  2992000
2017-08-12         1  LIQUOR WINE BEER     90  2993782
2017-08-13         1  LIQUOR WINE BEER     35  2995564
2017-08-14         1  LIQUOR WINE BEER    100  2997346
2017-08-15         1  LIQUOR WINE BEER     94  2999128

[1688 rows x 4 columns], 'MAGAZINES':            store_nbr     family  sales       id
date
2013-01-01         1  MAGAZINES      0       23
2013-01-02         1  MAGAZINES      0     1805
2013-01-03         1  MAGAZINES      0     3587
2013-01-04         1  MAGAZINES      0     5369
2013-01-05         1  MAGAZINES      0     7151
...              ...        ...    ...      ...
2017-08-11         1  MAGAZINES      4  2992001
2017-08-12         1  MAGAZINES      6  2993783
2017-08-13         1  MAGAZINES      4  2995565
2017-08-14         1  MAGAZINES      8  2997347
2017-08-15         1  MAGAZINES      3  2999129

[1688 rows x 4 columns], 'MEATS':            store_nbr family  sales       id
date
2013-01-01         1  MEATS      0       24
2013-01-02         1  MEATS    369     1806
2013-01-03         1  MEATS    272     3588
2013-01-04         1  MEATS    454     5370
2013-01-05         1  MEATS    328     7152
...              ...    ...    ...      ...
2017-08-11         1  MEATS    385  2992002
2017-08-12         1  MEATS    211  2993784
2017-08-13         1  MEATS     88  2995566
2017-08-14         1  MEATS    192  2997348
2017-08-15         1  MEATS    274  2999130

[1688 rows x 4 columns], 'PERSONAL CARE':            store_nbr         family  sales       id
date
2013-01-01         1  PERSONAL CARE      0       25
2013-01-02         1  PERSONAL CARE    194     1807
2013-01-03         1  PERSONAL CARE    153     3589
2013-01-04         1  PERSONAL CARE     88     5371
2013-01-05         1  PERSONAL CARE    141     7153
...              ...            ...    ...      ...
2017-08-11         1  PERSONAL CARE     53  2992003
2017-08-12         1  PERSONAL CARE    227  2993785
2017-08-13         1  PERSONAL CARE     45  2995567
2017-08-14         1  PERSONAL CARE    159  2997349
2017-08-15         1  PERSONAL CARE    173  2999131

[1688 rows x 4 columns], 'PET SUPPLIES':            store_nbr        family  sales       id
date
2013-01-01         1  PET SUPPLIES      0       26
2013-01-02         1  PET SUPPLIES      0     1808
2013-01-03         1  PET SUPPLIES      0     3590
2013-01-04         1  PET SUPPLIES      0     5372
2013-01-05         1  PET SUPPLIES      0     7154
...              ...           ...    ...      ...
2017-08-11         1  PET SUPPLIES      5  2992004
2017-08-12         1  PET SUPPLIES      3  2993786
2017-08-13         1  PET SUPPLIES      2  2995568
2017-08-14         1  PET SUPPLIES      3  2997350
2017-08-15         1  PET SUPPLIES      3  2999132

[1688 rows x 4 columns], 'PLAYERS AND ELECTRONICS':            store_nbr                   family  sales       id
date
2013-01-01         1  PLAYERS AND ELECTRONICS      0       27
2013-01-02         1  PLAYERS AND ELECTRONICS      0     1809
2013-01-03         1  PLAYERS AND ELECTRONICS      0     3591
2013-01-04         1  PLAYERS AND ELECTRONICS      0     5373
2013-01-05         1  PLAYERS AND ELECTRONICS      0     7155
...              ...                      ...    ...      ...
2017-08-11         1  PLAYERS AND ELECTRONICS      3  2992005
2017-08-12         1  PLAYERS AND ELECTRONICS      6  2993787
2017-08-13         1  PLAYERS AND ELECTRONICS      0  2995569
2017-08-14         1  PLAYERS AND ELECTRONICS      6  2997351
2017-08-15         1  PLAYERS AND ELECTRONICS     21  2999133

[1688 rows x 4 columns], 'POULTRY':            store_nbr   family  sales       id
date
2013-01-01         1  POULTRY      0       28
2013-01-02         1  POULTRY    247     1810
2013-01-03         1  POULTRY    187     3592
2013-01-04         1  POULTRY    258     5374
2013-01-05         1  POULTRY    212     7156
...              ...      ...    ...      ...
2017-08-11         1  POULTRY    259  2992006
2017-08-12         1  POULTRY    217  2993788
2017-08-13         1  POULTRY    115  2995570
2017-08-14         1  POULTRY    270  2997352
2017-08-15         1  POULTRY    234  2999134

[1688 rows x 4 columns], 'PREPARED FOODS':            store_nbr          family  sales       id
date
2013-01-01         1  PREPARED FOODS      0       29
2013-01-02         1  PREPARED FOODS     47     1811
2013-01-03         1  PREPARED FOODS     63     3593
2013-01-04         1  PREPARED FOODS     67     5375
2013-01-05         1  PREPARED FOODS     66     7157
...              ...             ...    ...      ...
2017-08-11         1  PREPARED FOODS     24  2992007
2017-08-12         1  PREPARED FOODS     48  2993789
2017-08-13         1  PREPARED FOODS     20  2995571
2017-08-14         1  PREPARED FOODS     72  2997353
2017-08-15         1  PREPARED FOODS     42  2999135

[1688 rows x 4 columns], 'PRODUCE':            store_nbr   family  sales       id
date
2013-01-01         1  PRODUCE      0       30
2013-01-02         1  PRODUCE      0     1812
2013-01-03         1  PRODUCE      0     3594
2013-01-04         1  PRODUCE      0     5376
2013-01-05         1  PRODUCE      0     7158
...              ...      ...    ...      ...
2017-08-11         1  PRODUCE   1115  2992008
2017-08-12         1  PRODUCE   1762  2993790
2017-08-13         1  PRODUCE    986  2995572
2017-08-14         1  PRODUCE   2611  2997354
2017-08-15         1  PRODUCE   2240  2999136

[1688 rows x 4 columns], 'SCHOOL AND OFFICE SUPPLIES':            store_nbr                      family  sales       id
date
2013-01-01         1  SCHOOL AND OFFICE SUPPLIES      0       31

#### Model Training

In [23]:
from gluonts.evaluation import make_evaluation_predictions

def show_predictor(predictor):
    prediction = next(predictor.predict(ds))
    print(prediction.mean)
    prediction.plot()

def get_forecasts(ds):
    estimator = DeepAREstimator(
        freq=ds.freq, 
        prediction_length=prediction_length, 
        trainer=Trainer(
            epochs=5,
            learning_rate=1e-3,
            num_batches_per_epoch=10,
            patience=2
            )
    )
    predictor = estimator.train(ds)
    # show_predictor(predictor)
    forecast_it, ts_it = make_evaluation_predictions(
        dataset=ds,  # test dataset
        predictor=predictor,  # predictor
        num_samples=10,  # number of sample paths we want for evaluation
    )
    tss = list(ts_it)
    forecasts = list(forecast_it)
    return tss, forecasts

In [ ]:
# sample usage
# tss, forecasts = get_forecasts(ds)

In [24]:
all_stores_forecasts = []

for ds in all_stores_ds:
    store_nbr = ds['store_nbr']
    ds = ds['ds']
    tss, forecasts = get_forecasts(ds)
    all_stores_forecasts.append({'store_nbr':store_nbr, 'forecasts': forecasts})

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 15.08it/s, epoch=1/5, avg_epoch_loss=5.26]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.75it/s, epoch=2/5, avg_epoch_loss=5.07]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.19it/s, epoch=3/5, avg_epoch_loss=4.82]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.08it/s, epoch=4/5, avg_epoch_loss=4.76]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.38it/s, epoch=5/5, avg_epoch_loss=4.34]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.81it/s, epoch=1/5, avg_epoch_loss=4.56]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.29it/s, epoch=2/5, avg_epoch_loss=4.35]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.58it/s, epoch=3/5, avg_epoch_loss=4.22]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.76it/s, epoch=4/5, avg_epoch_loss=4.13]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.94it/s, epoch=5/5, avg_epoch_loss=4]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.64it/s, epoch=1/5, avg_epoch_loss=5.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.20it/s, epoch=2/5, avg_epoch_loss=5.22]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.82it/s, epoch=3/5, avg_epoch_loss=4.84]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.49it/s, epoch=4/5, avg_epoch_loss=4.96]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=5/5, avg_epoch_loss=4.62]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.71it/s, epoch=1/5, avg_epoch_loss=4.79]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.17it/s, epoch=2/5, avg_epoch_loss=4.39]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.09it/s, epoch=3/5, avg_epoch_loss=4.33]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.77it/s, epoch=4/5, avg_epoch_loss=3.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.69it/s, epoch=5/5, avg_epoch_loss=3.76]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.53it/s, epoch=1/5, avg_epoch_loss=5.09]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.44it/s, epoch=2/5, avg_epoch_loss=4.26]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.28it/s, epoch=3/5, avg_epoch_loss=4.34]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.95it/s, epoch=4/5, avg_epoch_loss=3.82]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.84it/s, epoch=5/5, avg_epoch_loss=3.97]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.32it/s, epoch=1/5, avg_epoch_loss=4.96]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.12it/s, epoch=2/5, avg_epoch_loss=4.32]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.67it/s, epoch=3/5, avg_epoch_loss=4.34]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=4/5, avg_epoch_loss=4.15]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.23it/s, epoch=5/5, avg_epoch_loss=4.08]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.75it/s, epoch=1/5, avg_epoch_loss=4.8]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.16it/s, epoch=2/5, avg_epoch_loss=4.29]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.58it/s, epoch=3/5, avg_epoch_loss=4.22]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.60it/s, epoch=4/5, avg_epoch_loss=3.79]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.08it/s, epoch=5/5, avg_epoch_loss=4.2]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.82it/s, epoch=1/5, avg_epoch_loss=4.89]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.45it/s, epoch=2/5, avg_epoch_loss=4.65]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.92it/s, epoch=3/5, avg_epoch_loss=4.3]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.73it/s, epoch=4/5, avg_epoch_loss=4.18]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.75it/s, epoch=5/5, avg_epoch_loss=4.02]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.84it/s, epoch=1/5, avg_epoch_loss=5.14]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.74it/s, epoch=2/5, avg_epoch_loss=4.86]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.83it/s, epoch=3/5, avg_epoch_loss=4.66]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.81it/s, epoch=4/5, avg_epoch_loss=4.33]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.68it/s, epoch=5/5, avg_epoch_loss=4.09]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 15.29it/s, epoch=1/5, avg_epoch_loss=5.39]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.57it/s, epoch=2/5, avg_epoch_loss=4.61]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.57it/s, epoch=3/5, avg_epoch_loss=4.84]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.66it/s, epoch=4/5, avg_epoch_loss=4.77]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.03it/s, epoch=5/5, avg_epoch_loss=4.72]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.98it/s, epoch=1/5, avg_epoch_loss=4.91]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.89it/s, epoch=2/5, avg_epoch_loss=4.54]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.12it/s, epoch=3/5, avg_epoch_loss=4.58]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.99it/s, epoch=4/5, avg_epoch_loss=4.39]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.19it/s, epoch=5/5, avg_epoch_loss=4.18]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.22it/s, epoch=1/5, avg_epoch_loss=5.78]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.87it/s, epoch=2/5, avg_epoch_loss=4.99]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.92it/s, epoch=3/5, avg_epoch_loss=4.93]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.46it/s, epoch=4/5, avg_epoch_loss=4.97]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.54it/s, epoch=5/5, avg_epoch_loss=4.73]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 15.81it/s, epoch=1/5, avg_epoch_loss=5.23]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.38it/s, epoch=2/5, avg_epoch_loss=5.23]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.77it/s, epoch=3/5, avg_epoch_loss=4.67]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.94it/s, epoch=4/5, avg_epoch_loss=4.14]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.68it/s, epoch=5/5, avg_epoch_loss=4.29]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.85it/s, epoch=1/5, avg_epoch_loss=5.48]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.01it/s, epoch=2/5, avg_epoch_loss=4.51]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.20it/s, epoch=3/5, avg_epoch_loss=4.25]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.73it/s, epoch=4/5, avg_epoch_loss=3.87]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.73it/s, epoch=5/5, avg_epoch_loss=3.68]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.13it/s, epoch=1/5, avg_epoch_loss=4.6]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.44it/s, epoch=2/5, avg_epoch_loss=3.95]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.56it/s, epoch=3/5, avg_epoch_loss=3.39]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.10it/s, epoch=4/5, avg_epoch_loss=2.97]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.16it/s, epoch=5/5, avg_epoch_loss=3.07]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.51it/s, epoch=1/5, avg_epoch_loss=4.89]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.26it/s, epoch=2/5, avg_epoch_loss=4.51]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.05it/s, epoch=3/5, avg_epoch_loss=4.16]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.53it/s, epoch=4/5, avg_epoch_loss=4.11]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.33it/s, epoch=5/5, avg_epoch_loss=4.13]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.80it/s, epoch=1/5, avg_epoch_loss=5.55]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.17it/s, epoch=2/5, avg_epoch_loss=5.12]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.17it/s, epoch=3/5, avg_epoch_loss=5.11]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.39it/s, epoch=4/5, avg_epoch_loss=4.91]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.76it/s, epoch=5/5, avg_epoch_loss=4.87]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.74it/s, epoch=1/5, avg_epoch_loss=4.93]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.70it/s, epoch=2/5, avg_epoch_loss=4.96]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.53it/s, epoch=3/5, avg_epoch_loss=4.74]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.57it/s, epoch=4/5, avg_epoch_loss=4.58]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.53it/s, epoch=5/5, avg_epoch_loss=4.46]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.90it/s, epoch=1/5, avg_epoch_loss=4.27]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.62it/s, epoch=2/5, avg_epoch_loss=3.86]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.76it/s, epoch=3/5, avg_epoch_loss=3.93]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.80it/s, epoch=4/5, avg_epoch_loss=3.87]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.75it/s, epoch=5/5, avg_epoch_loss=3.87]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.53it/s, epoch=1/5, avg_epoch_loss=5.17]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.94it/s, epoch=2/5, avg_epoch_loss=4.98]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.77it/s, epoch=3/5, avg_epoch_loss=4.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.89it/s, epoch=4/5, avg_epoch_loss=4.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.85it/s, epoch=5/5, avg_epoch_loss=4.45]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.01it/s, epoch=1/5, avg_epoch_loss=5.3]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.94it/s, epoch=2/5, avg_epoch_loss=5.1]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.77it/s, epoch=3/5, avg_epoch_loss=4.89]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.53it/s, epoch=4/5, avg_epoch_loss=4.8]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.68it/s, epoch=5/5, avg_epoch_loss=4.52]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.67it/s, epoch=1/5, avg_epoch_loss=5.25]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=2/5, avg_epoch_loss=4.6]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.49it/s, epoch=3/5, avg_epoch_loss=4.16]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.53it/s, epoch=4/5, avg_epoch_loss=3.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.14it/s, epoch=5/5, avg_epoch_loss=4.16]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.78it/s, epoch=1/5, avg_epoch_loss=5.9]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.90it/s, epoch=2/5, avg_epoch_loss=5.66]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.15it/s, epoch=3/5, avg_epoch_loss=5.7]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.17it/s, epoch=4/5, avg_epoch_loss=5.26]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.70it/s, epoch=5/5, avg_epoch_loss=5.18]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.21it/s, epoch=1/5, avg_epoch_loss=4.74]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.60it/s, epoch=2/5, avg_epoch_loss=4.33]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.67it/s, epoch=3/5, avg_epoch_loss=4.19]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.41it/s, epoch=4/5, avg_epoch_loss=3.94]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.84it/s, epoch=5/5, avg_epoch_loss=3.75]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.07it/s, epoch=1/5, avg_epoch_loss=5.14]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.81it/s, epoch=2/5, avg_epoch_loss=4.71]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.46it/s, epoch=3/5, avg_epoch_loss=4.54]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.04it/s, epoch=4/5, avg_epoch_loss=4.48]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.73it/s, epoch=5/5, avg_epoch_loss=4.42]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.54it/s, epoch=1/5, avg_epoch_loss=4.35]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.07it/s, epoch=2/5, avg_epoch_loss=3.96]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.71it/s, epoch=3/5, avg_epoch_loss=3.49]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.03it/s, epoch=4/5, avg_epoch_loss=3.48]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.05it/s, epoch=5/5, avg_epoch_loss=3.43]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.59it/s, epoch=1/5, avg_epoch_loss=5.47]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.23it/s, epoch=2/5, avg_epoch_loss=4.53]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.83it/s, epoch=3/5, avg_epoch_loss=4.62]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=4/5, avg_epoch_loss=4.29]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.46it/s, epoch=5/5, avg_epoch_loss=4.16]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.50it/s, epoch=1/5, avg_epoch_loss=4.94]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=2/5, avg_epoch_loss=4.46]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.35it/s, epoch=3/5, avg_epoch_loss=4.55]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.79it/s, epoch=4/5, avg_epoch_loss=4.37]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.98it/s, epoch=5/5, avg_epoch_loss=4.24]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.60it/s, epoch=1/5, avg_epoch_loss=4.42]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.10it/s, epoch=2/5, avg_epoch_loss=4.03]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.46it/s, epoch=3/5, avg_epoch_loss=3.86]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.55it/s, epoch=4/5, avg_epoch_loss=3.6]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.51it/s, epoch=5/5, avg_epoch_loss=3.8]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.76it/s, epoch=1/5, avg_epoch_loss=5.04]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.17it/s, epoch=2/5, avg_epoch_loss=4.71]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.34it/s, epoch=3/5, avg_epoch_loss=4.64]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.64it/s, epoch=4/5, avg_epoch_loss=4.34]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.11it/s, epoch=5/5, avg_epoch_loss=4.35]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.41it/s, epoch=1/5, avg_epoch_loss=4.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.09it/s, epoch=2/5, avg_epoch_loss=4.84]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.33it/s, epoch=3/5, avg_epoch_loss=4.7]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.59it/s, epoch=4/5, avg_epoch_loss=4.46]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.03it/s, epoch=5/5, avg_epoch_loss=4.63]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.40it/s, epoch=1/5, avg_epoch_loss=5.7]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.88it/s, epoch=2/5, avg_epoch_loss=5.01]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.76it/s, epoch=3/5, avg_epoch_loss=5.05]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.34it/s, epoch=4/5, avg_epoch_loss=4.87]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.98it/s, epoch=5/5, avg_epoch_loss=4.59]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 15.97it/s, epoch=1/5, avg_epoch_loss=5.26]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.69it/s, epoch=2/5, avg_epoch_loss=5.32]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.16it/s, epoch=3/5, avg_epoch_loss=4.82]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.95it/s, epoch=4/5, avg_epoch_loss=4.72]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.32it/s, epoch=5/5, avg_epoch_loss=4.77]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.05it/s, epoch=1/5, avg_epoch_loss=5.32]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.56it/s, epoch=2/5, avg_epoch_loss=5.17]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.80it/s, epoch=3/5, avg_epoch_loss=4.73]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.82it/s, epoch=4/5, avg_epoch_loss=4.81]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.62it/s, epoch=5/5, avg_epoch_loss=4.49]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 14.68it/s, epoch=1/5, avg_epoch_loss=5.1]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.90it/s, epoch=2/5, avg_epoch_loss=4.94]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.61it/s, epoch=3/5, avg_epoch_loss=4.43]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.37it/s, epoch=4/5, avg_epoch_loss=4.31]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.45it/s, epoch=5/5, avg_epoch_loss=4.21]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.47it/s, epoch=1/5, avg_epoch_loss=5.07]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 19.30it/s, epoch=2/5, avg_epoch_loss=4.92]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.19it/s, epoch=3/5, avg_epoch_loss=4.66]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.26it/s, epoch=4/5, avg_epoch_loss=4.29]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.70it/s, epoch=5/5, avg_epoch_loss=4.41]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 16.05it/s, epoch=1/5, avg_epoch_loss=5.24]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.36it/s, epoch=2/5, avg_epoch_loss=4.46]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.52it/s, epoch=3/5, avg_epoch_loss=3.98]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.20it/s, epoch=4/5, avg_epoch_loss=4.27]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.38it/s, epoch=5/5, avg_epoch_loss=3.63]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 18.03it/s, epoch=1/5, avg_epoch_loss=5.01]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.31it/s, epoch=2/5, avg_epoch_loss=4.77]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.00it/s, epoch=3/5, avg_epoch_loss=4.41]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.36it/s, epoch=4/5, avg_epoch_loss=4.17]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.55it/s, epoch=5/5, avg_epoch_loss=4.46]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.27it/s, epoch=1/5, avg_epoch_loss=6.7]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.80it/s, epoch=2/5, avg_epoch_loss=6.2]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.48it/s, epoch=3/5, avg_epoch_loss=5.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.35it/s, epoch=4/5, avg_epoch_loss=5.83]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.63it/s, epoch=5/5, avg_epoch_loss=5.57]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 17.68it/s, epoch=1/5, avg_epoch_loss=6.26]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.19it/s, epoch=2/5, avg_epoch_loss=5.84]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.87it/s, epoch=3/5, avg_epoch_loss=5.81]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 21.19it/s, epoch=4/5, avg_epoch_loss=5.37]
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:00<00:00, 20.47it/s, epoch=5/5, avg_epoch_loss=5.5]

In [27]:
all_stores_forecasts[0]['store_nbr']
all_stores_forecasts[0]['forecasts'][0].item_id

all_stores_forecasts[27]['store_nbr']
all_stores_forecasts[27]['forecasts'][0].mean

1

'AUTOMOTIVE'

34

array([2.67705  , 4.9726324, 4.1175594, 2.1599407, 5.0596776, 4.4404154,
       2.6668267, 2.0827475, 3.5493999, 4.2353215, 1.8752264, 2.9581506,
       2.4157844, 2.524041 , 2.422216 , 2.7825336], dtype=float32)

In [75]:
def show_forecasts(tss, forecasts):
    # first entry of the time series list
    len(tss[0])
    ts_entry = tss[0]
    ts_entry.tail(20)

    forecast_entry = forecasts[0]
    print(f"Number of sample paths: {forecast_entry.num_samples}")  
    print(f"Dimension of samples: {forecast_entry.samples.shape}")
    print(f"Start date of the forecast window: {forecast_entry.start_date}")
    print(f"Frequency of the time series: {forecast_entry.freq}")

    print(f"Mean of the future window:\n {forecast_entry.mean}")
    print(f"0.5-quantile (median) of the future window:\n {forecast_entry.quantile(0.5)}")

#### Predictions

In [ ]:
# len(df_test['store_nbr'].unique())
# len(df_test['family'].unique())

In [ ]:
# len(forecasts)
# forecasts[0].item_id
# forecasts[0].mean
# categories_arr = [cast.item_id for cast in forecasts ]

In [ ]:
# Update test dataset with predicted values

# categories_arr = [cast.item_id for cast in forecasts ]

# for index, cat in enumerate(categories_arr):
#     df_test.loc[(df_test['store_nbr']==1) & (df_test['family']==cat), 'sales'] = forecasts[index].mean

# df_test

In [ ]:
# for index, cast in enumerate(all_stores_forecasts):
#     all_stores_forecasts[index]['store_nbr']

In [33]:
def fill_df_with_predictions(df, all_forecasts):
    df_tmp = df.copy()
    
    for index, cast in enumerate(all_forecasts):
        store_nbr = all_forecasts[index]['store_nbr']
        store_fcasts = all_forecasts[index]['forecasts']
        categories_arr = [cast.item_id for cast in store_fcasts ]
        
        for index, cat in enumerate(categories_arr):
            cat_fcasts = store_fcasts[index]
            cat = cat_fcasts.item_id
            df_tmp.loc[(df_tmp['store_nbr']==store_nbr) & (df_tmp['family']==cat), 'sales'] = cat_fcasts.mean
    
    return df_tmp

In [35]:

df_tmp = fill_df_with_predictions(df_test, all_stores_forecasts)

In [38]:

df_tmp[(df_tmp['store_nbr'] == 1) & (df_tmp['family'] == 'BABY CARE')]

                 id  store_nbr     family  onpromotion  family_cat      sales
date
2017-08-16  3000889          1  BABY CARE            0           1   6.268941
2017-08-17  3002671          1  BABY CARE            0           1  14.494840
2017-08-18  3004453          1  BABY CARE            0           1   8.861006
2017-08-19  3006235          1  BABY CARE            0           1  -3.199225
2017-08-20  3008017          1  BABY CARE            0           1   5.781116
2017-08-21  3009799          1  BABY CARE            0           1  -6.387799
2017-08-22  3011581          1  BABY CARE            0           1 -20.461315
2017-08-23  3013363          1  BABY CARE            0           1   8.127833
2017-08-24  3015145          1  BABY CARE            0           1  12.777693
2017-08-25  3016927          1  BABY CARE            0           1   5.406293
2017-08-26  3018709          1  BABY CARE            0           1   3.683201
2017-08-27  3020491          1  BABY CARE            0           1  -4.369795
2017-08-28  3022273          1  BABY CARE            0           1 -15.372767
2017-08-29  3024055          1  BABY CARE            0           1 -29.908749
2017-08-30  3025837          1  BABY CARE            0           1   5.902026
2017-08-31  3027619          1  BABY CARE            0           1   9.853654

In [41]:
df_tmp[['id', 'sales']].to_csv('submission.csv', index=False)

#### Evaluation of Performance

In [43]:
from gluonts.evaluation import Evaluator

evaluator = Evaluator(quantiles=[0.1, 0.5, 0.9])
agg_metrics, item_metrics = evaluator(tss, forecasts)
agg_metrics['RMSE']
item_metrics

Running evaluation: 33it [00:01, 32.57it/s]
/home/vincent/devel/vjuge/oc-iml/venv/lib64/python3.9/site-packages/pandas/core/dtypes/cast.py:1201: UserWarning: Warning: converting a masked element to nan.
  return arr.astype(dtype, copy=True)

412.3754035360752

,item_id,MSE,abs_error,abs_target_sum,abs_target_mean,seasonal_error,MASE,MAPE,sMAPE,ND,MSIS,QuantileLoss[0.1],Coverage[0.1],QuantileLoss[0.5],Coverage[0.5],QuantileLoss[0.9],Coverage[0.9]
0,AUTOMOTIVE,3.631356e+01,85.888611,229.0,14.3125,8.113106,0.661650,0.373358,0.420924,0.375059,4.554395,33.577699,0.0625,85.888610,0.2500,39.604323,0.7500
1,BABY CARE,1.058914e+00,8.601103,8.0,0.5000,0.292041,1.840733,0.945171,1.948598,1.075138,61.804068,2.289154,0.4375,8.601103,0.7500,13.671977,0.7500
2,BEAUTY,2.901235e+01,74.277359,153.0,9.5625,3.209455,1.446456,0.477902,0.577546,0.485473,18.029520,25.344522,0.0625,74.277362,0.1875,69.037933,0.3750
3,BEVERAGES,1.265714e+06,13274.930664,59382.0,3711.3750,814.184919,1.019035,0.199417,0.233063,0.223551,7.929214,5475.440674,0.0000,13274.930420,0.1250,6882.679004,0.6875
4,BOOKS,2.357270e+03,730.862915,0.0,0.0000,0.000000,inf,NaN,2.000000,inf,inf,448.406790,0.0000,730.862908,0.0625,185.799277,0.9375
5,BREAD/BAKERY,1.140215e+04,1162.589844,7880.0,492.5000,134.592460,0.539866,0.156489,0.151727,0.147537,5.732672,716.644662,0.0625,1162.589844,0.5000,789.608374,0.9375
6,CELEBRATION,3.673980e+01,87.205322,238.0,14.8750,6.116697,0.891058,0.446622,0.393909,0.366409,5.764933,45.271253,0.1250,87.205329,0.3750,34.749428,0.9375
7,CLEANING,7.294219e+05,8820.925781,30748.0,1921.7500,415.828247,1.325807,0.225234,0.272537,0.286878,17.251147,2837.271375,0.0000,8820.925293,0.1875,7916.937671,0.6875
8,DAIRY,6.101988e+04,2330.289551,13238.0,827.3750,214.272292,0.679710,0.173936,0.184546,0.176030,5.350798,1211.736578,0.0625,2330.289734,0.1875,1352.100891,0.9375
9,DELI,1.894466e+04,1627.813110,9179.0,573.6875,152.503291,0.667122,0.163324,0.180200,0.177341,5.945618,694.231879,0.0625,1627.813141,0.2500,982.020593,0.6875
10,EGGS,6.430526e+03,1087.213745,3436.0,214.7500,85.010772,0.799321,0.344240,0.328451,0.316418,6.063133,510.324640,0.1875,1087.213745,0.5000,805.702997,0.6875
11,FROZEN FOODS,1.878673e+03,575.926758,1842.0,115.1250,47.523639,0.757421,0.290601,0.324933,0.312664,3.655307,216.916854,0.0625,575.926735,0.3125,119.961934,0.7500
12,GROCERY I,3.187098e+06,28748.220703,114854.0,7178.3750,1588.089168,1.131400,0.228498,0.272521,0.250302,5.062159,9579.602148,0.0000,28748.220703,0.0625,9287.469238,0.5625
13,GROCERY II,3.294709e+01,70.325546,180.0,11.2500,7.618193,0.576954,0.505206,0.404307,0.390697,5.259630,38.161587,0.1250,70.325545,0.5625,44.635342,0.7500
14,HARDWARE,2.681523e+00,20.406040,27.0,1.6875,1.739677,0.733112,0.540717,1.058005,0.755779,16.876254,7.125853,0.1875,20.406041,0.2500,22.768008,0.5625
15,HOME AND KITCHEN I,2.714135e+02,229.969727,870.0,54.3750,15.611011,0.920703,0.247509,0.286198,0.264333,5.747489,100.317328,0.0625,229.969738,0.3125,96.307014,0.8125
16,HOME AND KITCHEN II,3.659771e+02,270.666931,746.0,46.6250,7.730700,2.188247,0.331835,0.386805,0.362824,29.002446,86.130352,0.0000,270.666929,0.1875,169.521207,0.6250
17,HOME APPLIANCES,1.799991e-03,0.435975,0.0,0.0000,0.523040,0.052096,NaN,2.000000,inf,0.556179,0.298526,0.3125,0.435975,0.8125,0.261615,1.0000
18,HOME CARE,1.206194e+04,1429.820312,6901.0,431.3125,76.113704,1.174083,0.189613,0.218197,0.207190,8.507967,593.827438,0.0000,1429.820282,0.2500,726.953369,0.6875
19,LADIESWEAR,5.473783e+01,102.119965,169.0,10.5625,5.612807,1.137131,1.201588,0.632617,0.604260,8.708893,36.943101,0.1875,102.119965,0.6250,38.251483,0.9375
20,LAWN AND GARDEN,1.642397e+01,40.928745,92.0,5.7500,3.232795,0.791280,0.616490,0.488377,0.444878,9.366334,21.304758,0.1250,40.928744,0.5000,28.902802,0.8125
21,LINGERIE,4.531453e+01,76.683716,147.0,9.1875,5.748055,0.833801,0.425329,0.573315,0.521658,10.975367,24.148841,0.0000,76.683719,0.1250,77.757119,0.3750
22,LIQUOR WINE BEER,9.118140e+02,358.650787,938.0,58.6250,41.281867,0.542991,0.333292,0.368238,0.382357,4.437497,117.971408,0.1875,358.650776,0.5625,277.143427,0.7500
23,MAGAZINES,1.315129e+01,33.459526,57.0,3.5625,1.156792,1.807775,0.320418,0.627925,0.587009,30.186957,13.794139,0.0625,33.459525,0.3125,35.254494,0.8125
24,MEATS,1.374648e+04,1238.787354,6039.0,377.4375,107.792340,0.718272,0.198879,0.201625,0.205131,9.709646,622.707083,0.0625,1238.787445,0.5000,908.615619,0.8125
25,PERSONAL CARE,1.915458e+04,1826.973633,8114.0,507.1250,124.629563,0.916202,0.203705,0.237095,0.225163,7.735142,724.874097,0.0625,1826.973663,0.1875,951.432709,0.7500
26,PET SUPPLIES,9.549858e+00,43.419304,123.0,7.6875,2.019749,1.343586,0.581842,0.406306,0.353002,10.463744,19.796816,0.1875,43.419301,0.3750,22.750328,0.8750
27,PLAYERS AND ELECTRONICS,1.785531e+01,59.786301,128.0,8.0000,3.481747,1.073209,0.613116,0.503445,0.467080,8.019783,23.694224,0.1250,59.786303,0.4375,21.922292,0.8750
28,POULTRY,9.696914e+03,1494.094971,7164.0,447.7500,140.656493,0.663894,0.200415,0.215814,0.208556,5.933049,501.952704,0.0625,1494.094910,0.3750,848.353204,0.8125
29,PREPARED FOODS,9.519705e+02,476.432343,1796.0,112.2500,27.635548,1.077490,0.265685,0.288479,0.265274,6.407674,200.507540,0.0625,476.432343,0.1250,269.145908,0.7500
30,PRODUCE,2.480358e+05,6930.932129,26466.0,1654.1250,353.122681,1.226722,0.233879,0.268084,0.261881,6.738918,2253.624487,0.0000,6930.932373,0.3750,3970.466870,0.7500
31,SCHOOL AND OFFICE SUPPLIES,2.195718e+04,2298.769287,2360.0,147.5000,3.472771,41.371311,0.971296,1.889238,0.974055,1571.978801,468.891813,0.0000,2298.769318,0.0000,4012.566010,0.0000
32,SEAFOOD,4.808327e+01,94.030975,291.0,18.1875,8.559545,0.686594,0.313979,0.390423,0.323130,3.972215,42.740622,0.0625,94.030977,0.3125,32.773893,0.8750

GluonTS multivariate :

<https://github.com/awslabs/gluonts/issues/494>

<https://github.com/awslabs/gluonts/issues/517>

<https://ts.gluon.ai/stable/tutorials/forecasting/extended_tutorial.html>

In [ ]:
from gluonts.evaluation import Evaluator
from gluonts.evaluation import make_evaluation_predictions
import matplotlib.pyplot as plt
import json
import numpy as np

def make_predictions(_predictor, ds, num_samples=100):
    forecast_it, ts_it = make_evaluation_predictions(
        dataset=ds,  # test dataset
        predictor=_predictor,  # predictor
        num_samples=num_samples,  # number of sample paths we want for evaluation
    )
    return list(forecast_it), list(ts_it)

def plot_prob_forecasts(ts_entry, forecast_entry):
    plot_length = context_length + prediction_length
    prediction_intervals = (50.0, 90.0)
    legend = ["observations", "median prediction"] + [ f"{k}% prediction interval" for k in prediction_intervals][::-1]

    fig, ax = plt.subplots(1, 1, figsize=(40, 20))
    ts_entry[-plot_length:].plot(ax=ax)  # plot the time series
    forecast_entry.plot(prediction_intervals=prediction_intervals, color="cadetblue")
    plt.axvline(forecast_entry.start_date, color="g", lw=1) #end of train dataset
    plt.grid(which="major")
    plt.legend(legend, loc="upper left")
    plt.show()

def gluonts_metrics(tss, forecasts):
    evaluator = Evaluator(quantiles=[0.1, 0.5, 0.9])
    agg_metrics, item_metrics = evaluator(tss, forecasts)

    print(json.dumps(agg_metrics, indent=4))

def train_and_predict(dataset, estimator):
    predictor = estimator.train(dataset)
    forecast_it, ts_it = make_evaluation_predictions(
        dataset=dataset, predictor=predictor
    )
    evaluator = Evaluator(quantiles=(np.arange(20) / 20.0)[1:])
    agg_metrics, item_metrics = evaluator(ts_it, forecast_it, num_series=len(dataset))
    return agg_metrics["RMSE"]

## Prophet

In [ ]:
from prophet import Prophet

m = Prophet()
df_automotive['ds'] = df_automotive.index
df_automotive['y'] = df_automotive['sales']

df_automotive

In [ ]:
m.fit(df_automotive[:100000])

In [ ]:
future = m.make_future_dataframe(periods=365)
future.tail()

In [ ]:
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

In [ ]:
fig1 = m.plot(forecast, figsize=(15,10))

In [ ]:
fig2 = m.plot_components(forecast, figsize=(15,10))

In [ ]:
from prophet.plot import plot_plotly, plot_components_plotly

plot_plotly(m, forecast)

In [ ]:
plot_components_plotly(m, forecast)