# P2 Exercice 1

from [https://openclassrooms.com/fr/courses/4011851-initiez-vous-au-machine-learning/6785036-entrainez-vous-a-entrainer-un-algorithme-de-machine-learning](https://openclassrooms.com/fr/courses/4011851-initiez-vous-au-machine-learning/6785036-entrainez-vous-a-entrainer-un-algorithme-de-machine-learning)

In [56]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('input/house_data.csv')

In [5]:
df.head()

   price  surface  arrondissement
0   1820     46.1             1.0
1   1750     41.0             1.0
2   1900     55.0             1.0
3   1950     46.0             1.0
4   1950     49.0             1.0

In [7]:
df.shape

(827, 3)

In [8]:
df.describe()

              price     surface  arrondissement
count    827.000000  822.000000      822.000000
mean    2007.342201   58.045925        4.142336
std     1890.894229   44.827522        3.202151
min      390.000000   10.000000        1.000000
25%     1050.000000   28.655000        2.000000
50%     1567.000000   46.100000        3.000000
75%     2346.000000   73.000000        4.000000
max    25000.000000  415.000000       10.000000

In [42]:
df.isna().value_counts()

price  surface  arrondissement
False  False    False             822
       True     True                5
dtype: int64

In [44]:
df.fillna(df.median(), inplace=True)

In [45]:
df.isna().value_counts()

price  surface  arrondissement
False  False    False             827
dtype: int64

In [47]:
X = df[{'surface', 'arrondissement'}]
y = df['price']

In [49]:
model = LinearRegression()
model.fit(X, y)

LinearRegression()

In [52]:
model.score(X, y)

0.8003723196205086

In [54]:
model.coef_

array([-48.81290049,  37.21936727])

In [63]:
X

     arrondissement  surface
0               1.0    46.10
1               1.0    41.00
2               1.0    55.00
3               1.0    46.00
4               1.0    49.00
..              ...      ...
822            10.0    35.00
823            10.0    10.00
824            10.0    34.00
825            10.0    65.00
826            10.0    21.43

[827 rows x 2 columns]

In [62]:
model.predict(np.array([[20, 1]]))

/home/vincent/.local/lib/python3.9/site-packages/sklearn/base.py:441: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-887.57858167])